* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 100%;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

/* main */
main {
    background-color: cadetblue;
    height: 800px;
    width: 70%;
    margin: 20px auto;
}

.row-up {
    background-color: darkcyan;
    width: 100%;
    height: 50%;
}

.row-down {
    margin-top: 10px;
    background-color: darkcyan;
    width: 100%;
    height: 50%;
}

.box {
    background-color: chocolate;
    width: calc(30% - 25px) ;
    height: 100%;
    margin: 0 30px;
    float: left;
}